@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}